/* temporaire */

.temporaire{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.temporaire button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: white;
}
/*  */


.contenaire {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
    border: 2px solid rgb(0, 174, 255);
    border-radius: 25px;
    overflow: hidden;
}


.left{
    height: 100%;
    width: 90%;
    display: flex;
    overflow: auto;
}

.form{
    width: 60%;
    margin: auto;
    color: white;
}

.input{
    margin-bottom: 30px;
}

.pseudo{
    margin-bottom: 30px;
}

.email{
    margin-bottom: 30px;
}

.password2{
    margin-top: 30px;
}

label{
    display: block;
    font-size: 25px;
}

input{
    color: white;
    background-color: transparent;
    border: 2px solid rgb(0, 174, 255);
    width: 100%;
    font-size: 25px;
}

.information{
    text-align: center;
    margin-bottom: 30px;
}

.singInbtn, .loginbtn, .mdpLost{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: white;
}

.un {
    margin-bottom: 20px;
}

.formControle{
    display: flex;
    justify-content: space-between;
}

.login, .singIn, .reload{
    width: 45%;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: 2px solid rgb(0, 174, 255);
    padding: 10px 5px;
}

.login:hover, .singIn:hover{
    border: 2px solid greenyellow;
}

.reload:hover{
    border: 2px solid red;
}

.right{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 2px solid rgb(0, 174, 255);
}

.loginDiscord a{
    width: 40px;
    height: 40px;
    margin: auto;
    background-color: rgb(0, 60, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.loginDiscord a img{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.googleContenaire{
    margin: 0 auto;
    width: 38px;
}


/* js */
.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .loadingGif {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 9999;
}

.loadingGifBar {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-top: 5px solid white; /* Couleur principale */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animation pour le cercle tournant */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */