body{
    overflow-x: hidden;
}

.divertissement{
    width: 97%;
    margin: 4% auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.opt{
    width: 45%;
    height: 300px;
    border-radius: 25px;
    border: 2px solid black;
    margin-bottom: 3%;
}
.opt:hover{
    transform: scale(120%);
}

.opt:nth-child(2){
    position: relative;
    overflow: hidden;
    background-image: url(../img/cs2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
#cut img:nth-child(1) {
    width: 250px;
    height: 250px;
    position: absolute;
    animation: rotating 2s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotating {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#cut img:nth-child(2) {
    width: 250px;
    height: 250px;
    position: absolute;
    /* animation: rotating 2s linear infinite; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: smoothSwing 3s ease-in-out infinite;
}

@keyframes smoothSwing {
    0% {
        transform: translate(-50%, -50%) rotate(-15deg); /* Rotation maximale vers la gauche */
    }
    50% {
        transform: translate(-50%, -50%) rotate(15deg);  /* Rotation maximale vers la droite */
    }
    100% {
        transform: translate(-50%, -50%) rotate(-15deg); /* Retour à la rotation vers la gauche */
    }
}

.legande{
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 50px;
}