nav{
    width: 100%;
    height: 70px;
    background-color: rgb(34, 34, 34);
}

nav ul{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
li{
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.logo{
    margin-left: 1%;
}

.logo img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: block;
}

.divAuthenticationBack{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.divAuthentication{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    box-sizing: border-box;
}